## CVEN 5301 
## ST: Computational Skills for Engineers
## Final Exam 2 
## Date: 6/12/2022

Submitted to: Dr.Venkatesh Uddameri <br>
Submitted by: Partha Protim Roy <br>
L ID: L20561710

## Problem 1

In [21]:
#Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [22]:
#Definging function for the plot

In [23]:
def Plot_Gringorten(r,N):#function to compute cdf
    cdf=(r-0.44)/(n+0.12)
    return cdf

In [24]:

df=pd.read_csv('data.csv') #readin the data
df2=df[['Stream Flow (cfs)']]  #copying it into a dataframe
df2.sort_values(by=['Stream Flow (cfs)'],ascending=False)  # Ranking the Data from high to low

   Stream Flow (cfs)
61             9,010
14               860
49             8,260
18               714
26             7,750
..               ...
12             1,580
38             1,560
23             1,420
7              1,380
5              1,220

[65 rows x 1 columns]

In [25]:
n = 500 # No of Data points
r=50 #putting the rank

In [26]:
# initializing random values
data = np.random.randn(N)

In [27]:
# getting data of the histogram
count, bins_count = np.histogram(data, bins=10)

In [28]:
CDF=Plot_Gringorten(r,N)

  
# plotting PDF and CDF
plt.plot(bins_count[1:], cdf, label="CDF")
plt.show()

NameError: name 'cdf' is not defined

Courtesy: https://www.geeksforgeeks.org/how-to-calculate-and-plot-a-cumulative-distribution-function-with-matplotlib-in-python/

## Problem 1

### the simplified equtions are 
* f2 = ab * 0.707
* f1 = - a * 0.707
* bc = 0
* be = -400 / 0.382
* ce = -200/0.707
* de =0
* cd = -f3/ (0.5*ce)

In [29]:
#import libraries
import pandas as pd
import numpy as np

#-------------Question 1------------------
# define the function equation_solution 
def equation_solution(k):
    # used a list to store results of the equations
    result = []
    f1= 0
    f2= 0
    bc= 0
    be=0
    ce=0
    de=0
    cd = 0
    a = 0
    b = 0
    f = 0
    # iterated through the eqution with k
    for i in range(1, k+1):
        f2 = a*b * 0.707
        f1 = - a * 0.707
        bc = 0
        be = -400 / 0.382
        ce = -200/0.707
        de =0
        cd = -f*3/ (0.5*ce)
        # appending the results in the result list with the k index
        result.append([i, float("{:.2f}".format(f1)), float("{:.2f}".format(f2)), float("{:.2f}".format(bc)),float("{:.2f}".format(be)), float("{:.2f}".format(ce)),float("{:.2f}".format(de)),float("{:.2f}".format(cd))])
    #storing the result inthe pandas dataframe
    df = pd.DataFrame(result, columns =['k','f1', 'f2','bc','be','ce','de','cd']) 
    return df
df=equation_solution(10)
df

    k   f1   f2   bc       be      ce   de   cd
0   1  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0
1   2  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0
2   3  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0
3   4  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0
4   5  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0
5   6  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0
6   7  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0
7   8  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0
8   9  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0
9  10  0.0  0.0  0.0 -1047.12 -282.89  0.0 -0.0